<!doctype html>
<html>
  <head>
    <title>Oz Gray</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>User:</h1>
    <p><%=result%>> </p>
  </body>
</html>