body {
    font-family: 'Roboto', sans-serif;
}
/* this is for the purple screen*/
.hero {
    background: linear-gradient(to right, 	#c59bff, #e3c2fb);
    color: rgb(12, 4, 4);
    display: flex;
    padding: 10px;
    position: relative;
    display: flex;            
    flex-direction: column;               
    justify-content: center;      
    min-height: 100vh;            
    text-align: center;           
    background-color: #e4e8ec;   
    padding: 20px;                
}

.hero h1 {
    margin-bottom: 10px;         
    font-size: 2.5rem;  
    color: #333;               
}

.hero p {
    margin: 10px 0;               
    font-size: 1.2rem;      
}

.hero input[type="text"] {
    padding: 10px;                
    font-size: 1rem;             
    width: 250px;                
    margin-top: 5px;  
    align-items: center;          
}

.hero input[type="submit"] {
    margin-top: 10px;             
    padding: 10px 35px;           
    font-size: 1rem;              
    background-color: #4298f5;  
    color: #f3f1f1;               
    border: none;                
    border-radius: 5px;         
    cursor: pointer;   
    align-items: center;
    justify-content: center;
    text-align: center; 
}        

.hero input[type="submit"]:hover {
    background-color: #0876ec; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-link {
    margin-top: 35px;
}
.card { transition: transform 0.1s;}
.card:hover {transform: scale(1.05);}

/* nav bar*/
.navbar-brand span {color: #ba78fc; font-weight: bold;}
.nav-link:hover {color: #ba78fc !important;}
    
.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 30px;
    background-color: #ebf0f5; 
}

.intro-content {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1200px;
    width: 100%;
    gap: 20px; 
}

.intro-image {
    width: 150px; 
    height: auto; 
    border-radius: 25px;
}

.intro-image img {
    width: 100%; /* Make the image fill the container */
    height: auto; 
    border-radius: 10px; 
}

/* this is for intro texts*/
.intro-text {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; 
}

.intro-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555; 
}